*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: solid 1px red; */
    
}

h1 {
    color: rgba(255, 0, 64, 0.792);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 25px;    
}

p {
    text-align: center;
}


h2 {
color: white;
padding-left: 10px;
}

h4 {
    color: white;
}

a {
    display: block;
}



.container {
    width: 80%;
    margin: 20px auto;
    
}
/* ROW */

.row {
    background-color: green;
    display: inline;  
   
}

.card {
    background-color:
    margin-right: 10%;
    padding: 10px;
    

}

.content {
    background-color: black;
    width: 890; 
}

.clearfix::after {
    content:"";
    display: table;
    clear: both;
}

.card img {
    float: left;
    width: 20%;
    
    
}

.col {
    float: left;
    width: 33%;
}
