*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: solid 1px red; */
    
}

/* HEADER  */

h1 {
    color: rgba(255, 0, 64, 0.792);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 25px;    
}

p {
    text-align: center;
}

   
  /* FIX */

.clearfix::after {
    content:"";
    display: table;
    clear: both;
}

/* CARD */

.container {
    width: 75%;
    margin: 20px auto;  
}

.row {
    background-color: green;
    display: inline;   
}

.row .col {
    float: left;
    width: 33%;
}

.card {
    background-color:
    margin-right: 10%;
    padding: 10px;
}

.card img {
    float: left;
    width: 20%;    
}

.content {
    background-color: black;
    width: 80%; 
    float: right;
}

h2 {
color: white;
padding-left: 10px;
}

h4 {
    color: white;
}

a {
    display: block;
}







